body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.nucleus {
  width: 30px;
  height: 30px;
  background-color: #FF5733;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
}

.electron {
  width: 10px;
  height: 10px;
  background-color: #3498db;
  border-radius: 50%;
  position: absolute;
  animation: electronOrbit linear infinite;
}

@keyframes electronOrbit {
  0% {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}

.electron-1 {
  animation-duration: 5s;
}

.electron-2 {
  animation-duration: 4s;
}

.electron-3 {
  animation-duration: 3s;
}
